@charset "UTF-8";

$dark-blue: rgb(6,77,117);
$dark-orange: rgb(241,134,63);
$light-orange: rgb(248,172,24);
$light-blue: rgb(51,210,216);

.gdm-wrapper {
  display: flex;
}

.gdm-nav,
.gdm-view {
  height: 100vh;
}

.gdm-nav {
  flex: 1 0 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.gdm-view {
  flex: 2 1 66%;
}

h1 {font-family: Rubik;
    font-weight: Bold;
    color: $dark-blue;
  font-size: 30px;
margin-top: 50px;
text-transform: uppercase;
border-bottom: 3px solid $dark-blue;
padding-bottom: 10px;
margin-bottom: 20px;
width: 35%;}

h2 {font-family: Rubik;
    font-weight: bold;
    color: $dark-orange;
    font-size: 20px;
    margin-top: 20px;}

p {font-family: Roboto;
  font-size: 15px;}

.table td:nth-child(1) {
  width: 25%;
}

.table td:nth-child(2) {
  width: 30%;
}

.table td:nth-child(3) {
  width: 75%;
}
.table {font-family: Roboto;
  font-size: 15px;}

.ul {font-family: Roboto;
  font-size: 15px;
}
.ol {font-family: Roboto;
  font-size: 15px;
}
img {width: 100%;}

.table3 td:nth-child(1) {
  width: 20%;
}

.table3 td:nth-child(2) {
  width: 40%;
}

.table3 td:nth-child(3) {
  width: 40%;
}
.table3 {font-family: Roboto;
  font-size: 15px;}

.visual_smartwatch {width: 25%;}

.foto_iphone {width: 90%;
margin-top:100px;}

.table2 td:nth-child(1) {
  width: 50%;
}

.table2 td:nth-child(2) {
  width: 50%;
}

.kleur1 {width: 900px;
  height: 200px;
  background-color: $dark-blue;
color: white;
font-family: Rubik;
font-size: 20px;
text-align: center;
padding-top: 50px;}

.kleur2 {width: 900px;
  height: 200px;
  background-color: $light-blue;
  color: white;
  font-family: Rubik;
  font-size: 20px;
  text-align: center;
  padding-top: 50px;}

.kleur3 {width: 900px;
  height: 200px;
  background-color: $light-orange;
  color: white;
  font-family: Rubik;
  font-size: 20px;
  text-align: center;
  padding-top: 50px;}

.kleur4 {width: 900px;
  height: 200px;
  background-color: $dark-orange;
  color: white;
font-family: Rubik;
font-size: 20px;
text-align: center;
padding-top: 50px;}

.knop_lichtoranje {height: 30px;
  width: 200px;
  background-color: $light-orange;
  text-transform: uppercase;
border-radius: 100px;
font-family: Rubik;
font-weight: bold;
font-size: 15px;
color: $dark-blue;
padding-top: 4px;
text-align: center;
font-weight: bold;
  &:hover{background-color: transparent;
    border: 3px solid $light-orange;
    color: $light-orange;}}

.knop_donkeroranje {height: 30px;
  width: 200px;
  background-color: $dark-orange;
border-radius: 100px;
font-family: Rubik;
font-weight: bold;
text-transform: uppercase;
padding-top: 4px;
font-size: 15px;
color: $dark-blue;
text-align: center;
font-weight: bold;
  &:hover {background-color: transparent;
  border: 3px solid $light-orange;
  color: $light-orange;}}



