@charset "UTF-8";

$scrollbar-width: .4em;
::-webkit-scrollbar {
  -webkit-box-shadow: none;
  width: $scrollbar-width;
}
::-webkit-scrollbar-track {
  background: ($light-orange);
    // -webkit-box-shadow: none;
}
::-webkit-scrollbar-thumb {
  background-color: $dark-orange;
  border-radius: $scrollbar-width / 2;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $dark-orange;
}